/**
   Helpers
*/



.border-left {
  border-left: 1px solid #ccc;
  padding-left: 10px;
}


.text-lg {
  font-size: 20px;
}

.margin-none {
  margin:0!important;
}

hr {
  border-top:1px solid #ccc;
}